@import "../../scss/lib/theme/vars";

.home {
  width: 90%;
  margin: 0 auto;

  li {
    background: $brand-secondary;
    color: $brand-primary;
    margin-bottom: $gutter-sm;
    border-radius: 7px;
    padding-top: $gutter-sm;
    padding-left: $gutter-sm;

    button {
      margin-right: 2%;
      float: right;
    }

    div {
      padding-bottom: $gutter-sm;
    }
    .key {
      font-weight: bold;
      margin-right: $gutter-sm;
    }
  }
}
