<span class="editable-field">
  <span ng-switch="editableFieldCtrl.editMode">
    <input ng-switch-when="true"
      type="{{ editableFieldCtrl.fieldType }}"
      ng-model="editableFieldCtrl.fieldValue">
    <span ng-switch-default>
      {{ editableFieldCtrl.fieldValue }}
    </span>
  </span>
  <button
    ng-click="editableFieldCtrl.handleModeChange()">
    {{ editableFieldCtrl.editMode ? 'Save' : 'Edit' }}
  </button>
  <button ng-if="editableFieldCtrl.editMode"
    ng-click="editableFieldCtrl.reset()">Reset</button>
</span>
