@import "../../../scss/lib/theme/vars";

.create-gallery {

  padding: $gutter-sm 0;

  .title {
    padding: 5% 0;
  }

  input {
    width: 94%;
    font-size: 2vw;
    padding: 2vw;
    margin-bottom: 4vw;
    float: right;
  }
  button {
    width: 30vw;
    height: 7vw;
    float: right;
  }
}
