@import "../../../scss/lib/theme/vars";

.gallery-item {
  .info {
    background: $brand-secondary;
    color: $brand-primary;
    margin-bottom: $gutter-sm;
    border-radius: 7px;
    padding: $gutter-sm;
  }
  .key {
    font-weight: bold;
    text-align: right;
    margin-top: 1%;
    margin-bottom: 1%;
    display: inline-block;
  }
  button {
    float: right;
    margin-left: 2%;
    margin-bottom: 2%;
  }
}
