<div class="gallery-item">
  <button class="btn-delete" ng-click="galleryItemCtrl.delete()">delete</button>
  <div class="field">
    <span class="key">name:</span>
    <editable-field
      field-value="galleryItemCtrl.gallery.name"
      field-type="text"
      on-update="galleryItemCtrl.update('name', value)">
    </editable-field>
  </div>
  <div class="field">
    <span class="key">description:</span>
    <editable-field
      field-value="galleryItemCtrl.gallery.desc"
      field-type="text"
      on-update="galleryItemCtrl.update('desc', value)">
    </editable-field>
  </div>
  <div class="field">
    <span class="key">id:</span>
    {{ galleryItemCtrl.gallery._id }}
  </div>
</div>
